.icon-about:before {
	content: "\e600";
}
.icon-play:before {
	content: "\e60a";
	color: #d64937;
}
.icon-payment:before {
	content: "\e601";
}
.icon-phone:before {
	content: "\e610";
}
.icon-address:before {
	content: "\e602";
}
.icon-directions:before {
	content: "\e603";
}
.icon-hours:before {
	content: "\e604";
}
.icon-staff:before {
	content: "\e605";
}
.icon-power:before {
	content: "\e609";
}
.icon-services:before {
	content: "\e607";
}
.icon-menu:before {
	content: "\e606";
}
.icon-radio-checked:before {
	content: "\e608";
}
